.container {
  justify-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 10px
}

.gallery> :first-child {
  grid-column: span 3;
  grid-row: span 3;
  width: 320px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.gallery>* {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}